@{
    ViewBag.Title = "Home Page";
    View.Controllers.HomeController context = new View.Controllers.HomeController();

}
@model View.Models.UserDTO


<!--Grid row-->
<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4 white-text text-center text-md-left">

        <h1 class="display-4 font-weight-bold">@if (context.UserLoggedIn()) {<span>Welcome @(((UserWSService.UserWSDTO)Session["ValidUser"]).Username)</span> } else {<span>ASP.NET Media Browser</span>}</h1>

        <hr class="hr-light">


        <p class="mb-4 d-none d-md-block">
            <strong>
                Search for media
            </strong>
        </p>
        @{
            if (!context.UserLoggedIn())
            {
                    @Html.ActionLink("Register", "Register", "Home", new { @class = "btn btn-primary" })
            }
            else
            {
                @Html.ActionLink("Search", "Search", "Home", new { @class = "btn btn-primary" })

            }
        }

    </div>
    @{
        if (!context.UserLoggedIn())
        {
            <div class="col-md-6 col-xl-5 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <div class="card-body">

                        <!-- Form -->
                            <div class="text-center w-100">
                                <div id="showLoad">
                                </div>
                            </div>
                            <div id="formSubmitHide">
                                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                                {
                                    <!-- Heading -->
                                    <h3 class="dark-grey-text text-center">
                                        <strong>Sign In</strong>
                                    </h3>
                                    <hr>

                                    <div class="md-form">
                                        <i class="fas fa-user prefix grey-text"></i>
                                        @Html.TextBoxFor(m => m.Username, null, new { placeholder = "Username", @class = "form-control w-100" })
                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-key prefix grey-text"></i>
                                        @Html.TextBoxFor(m => m.Password, null, new { placeholder = "Password", type = "password", @class = "form-control w-100" })
                                    </div>
                                    if (Session["LoginError"] != null)
                                    {
                                        <span class="text-danger mb-2">@(((View.Models.LoginError)Session["LoginError"]).ErrorMessage)</span>
                                    }

                                    <div class="text-center">
                                        <button type="submit" onclick="hideLogin();" class="btn btn-indigo">Submit</button>
                                    </div>

                                }
                                <!-- Form -->
                            </div>
                    </div>

                </div>
                <!--/.Card-->

            </div>
        }
    }
    <!--Grid column-->

</div>
<!--Grid row-->
<script>
    function hideLogin() {
        document.getElementById("formSubmitHide").style.display = "none";
        document.getElementById("showLoad").innerHTML = (`<img src="@(Url.Content("~/img/load.gif"))" style="width:200px; height:200px" />`);
    }
</script>