@{
    ViewBag.Title = ControllerLayer.StaticTest.Test;
}

<div class="jumbotron">
    <h1>Movies</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{
        ControllerLayer.iSearchMediaManager searcher = new ControllerLayer.SearchMediaManager();
        IList<ControllerLayer.MediaRow> media = searcher.MakeMediaQuery(" ");
        <ul class="list-unstyled ml-2">
            @for (int i = 0; i < media.Count; i++)
            {
            <li class="media my-2">
                <img src="https://image.flaticon.com/icons/png/128/83/83519.png" class="mr-3 align-self-start px-1" style="width:64px; height:64px;" alt="" />
                <div class="media-body">
                    <h5 class="mt-0 mb-1">@media[i].Title</h5>
                    <div class="">
                        Directed by <span class="director">@media[i].Director</span>,
                        Language: <span class="director">@media[i].Language</span>,
                        Genre: <span class="director">@media[i].Genre</span>,
                        Released in <span class="director">@media[i].Year</span>
                    </div>
                </div>
                </li>
            }
        </ul>
    }

    </div>