@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model View.Models.UserDTO


<div class="d-flex flex-center w-100">
    <div class="col-md-12 col-xl-5 mb-4 ">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-body">

                <!-- Form -->
                <div class="text-center w-100">
                    <div id="showLoad">
                    </div>
                </div>
                <div id="formSubmitHide">
                    @using (Html.BeginForm("RegisterAccount", "Home", FormMethod.Post))
                    {
                        <!-- Heading -->
                        <h3 class="dark-grey-text text-center">
                            <strong>Register</strong>
                        </h3>
                        <hr>

                        <div class="md-form">
                            @Html.TextBoxFor(m => m.Username, null, new { placeholder = "Username", @class = "form-control w-100" })
                        </div>
                        <div class="md-form">
                            @Html.TextBoxFor(m => m.Email, null, new { placeholder = "Email", @class = "form-control w-100" })
                        </div>
                        <div class="md-form">
                            @Html.TextBoxFor(m => m.Password, null, new { placeholder = "Password", @class = "form-control w-100" })
                        </div>
                        if (Session["RegisterError"] != null)
                        {
                            <span class="text-danger mb-2">@(((View.Models.LoginError)Session["RegisterError"]).ErrorMessage)</span>
                        }

                        <div class="text-center">
                            <button type="submit" onclick="hideLogin();" class="btn btn-indigo" id="register">Register</button>
                            <div class="loadIcon"></div>
                        </div>

                    }
                    <!-- Form -->
                </div>
            </div>

        </div>
        <!--/.Card-->

    </div>
</div>
<script>
    $(".loadIcon").hide();
    $(".loadIcon").html(`<img src="@Url.Content("~/img/load.gif")" style="width:200px; height:200px" />`);
    function hideLogin() {
        $("#register").hide();
        $(".loadIcon").show();
    }
</script>