@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    View.Controllers.HomeController context = new View.Controllers.HomeController();
}
@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mdb")
}
@model MediaService.MediaWSDTO


@{bool IsAdmin = Session["ValidUser"] == null ? false : ((UserWSService.UserWSDTO)(Session["ValidUser"])).UserLevel >= 3 ? true : false;}
<div class="d-flex flex-center w-100 mt-2">
    <div class="col-md-12 ">
        <div class="card" style="margin-top:80px; margin-bottom:80px;">
            <div class="card-body">
                @{
                    if (Session["SearchResults"] == null)
                    {
                        <span class="text-danger mb-2">No Results Found</span>
                        @Html.ActionLink("Search Again", "Search", "Home", new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        IList<MediaService.MediaWSDTO> media = ((List<MediaService.MediaWSDTO>)Session["SearchResults"]);
                        if (media.Count <= 0)
                        {
                            <div class="d-flex justify-content-between align-items-center">
                                <strong class="pl-2">No results found</strong>
                                @Html.ActionLink("Search Again", "Search", "Home", new { @class = "btn btn-primary" })
                            </div>
                        } else {
                            <!-- TEST -->
                            <table id="media" class="table">
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        @{ if (IsAdmin)
                                            {
                                                <th>ID</th>
                                            }
                                        }
                                        <th>Title</th>
                                        <th>Director</th>
                                        <th>Genre</th>
                                        <th>Language</th>
                                        <th>Budget ($US)</th>
                                        <th>Release Year</th>
                                        <th>Actions</th>
                                        @{ if (IsAdmin)
                                            {
                                                <th scope="row">Admin Actions</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ for (int i = 0; i < media.Count; i++)
                                        {
                                            <tr id="@media[i].MediaID" class="media-item">
                                                @{ if (IsAdmin)
                                                    {
                                                        <td scope="row">@media[i].MediaID</td>

                                                    }
                                                <td>@media[i].Title</td>
                                                <td>@media[i].Director.DirectorName</td>
                                                <td>@media[i].Genre.GenreTitle</td>
                                                <td>@media[i].Language.LanguageName</td>
                                                <td>@media[i].Budget <span> ($@media[i].BudgetValue)</span></td>
                                                <td>@media[i].Year</td>
                                                <td class="borrow reserve" id="">
                                                    
                                                </td>
                                                }

                                                @{ if (IsAdmin)
                                                    {
                                                        <td>
                                                            <input type="button" class="w-100 mb-1 btn btn-danger btn-sm" value="Delete" onclick="return deleteMedia(@media[i].MediaID);" />
                                                            <input type="button" class="w-100 mb-1 btn btn-warning btn-sm" value="Edit" onclick="return editMedia(@media[i].MediaID);" />
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                    @{ if (IsAdmin)
                                        {
                                            <tr id="insertNew">
                                                <form class="md-form" id="addMedia" onsubmit="return addMedia(event)">

                                                    <td><i style="color:limegreen;" class="fas fa-plus"></i></td>
                                                    <td><input name="Title" placeholder="Title" type="text" class="form-control w-100" /> </td>
                                                    <td>
                                                        <select class="browser-default custom-select mb-4 directors" name="Director.DID">
                                                            <option value="" disabled="" selected="">Loading...</option>

                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="browser-default custom-select mb-4 genres" name="Genre.GID">
                                                            <option value="" disabled="" selected="">Loading...</option>

                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="browser-default custom-select mb-4 languages" name="Language.LID">
                                                            <option value="" disabled="" selected="">Loading...</option>

                                                        </select>
                                                    </td>
                                                    <td><input placeholder="Budget" name="BudgetValue" type="number" class="form-control w-100" /></td>
                                                    <td><input placeholder="Year" name="Year" type="number" class="form-control w-100" /></td>
                                                    <td colspan="2"><input type="submit" class="w-100 mt-1 btn btn-success btn-sm" value="Add"  /></td>
                                                </form>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>

                        }

                    }
                }

            </div>
        </div>

    </div>
    <!--/.Card-->

</div>
@{
    if (IsAdmin)
    {
        <script>
            config.useIds = true;
        </script>
    }
}
<script>
    var load = `<img src="@Url.Content("~/img/load.gif")" style="width:50px; height:50px" />`;


    function deleteMedia(id) {
        $("#borrow-" + id).hide();
        var beforeHtml = $("#" + id).html();
        $("#" + id).html(load);
        $.ajax({
                    type: 'POST',
            url: "@Url.Action("ChangeMedia", "Home")",
            datatype: "html",
            data: { "command" : "DELETE", "MID" : id },
            success: function (data) {
                console.log(data);
                if (data.Success) {
                    $("#" + id).html(`<td colspan="9"><span class="text-danger mr-2 w-100">Deleted ${data.Affected.Title}</span></td>`);
                } else {
                    $("#" + id).html(beforeHtml);
                    $("#" + id).before(`<td colspan="9"><span class="text-danger mr-2 w-100">Failed to delete ${data.Affected.Title}</span></td>`);
                }
            }
        });
        return false;s
    }
    function borrowMedia(id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("BorrowMedia", "Home")",
            data: { "mediaID": id },
            success: function (data) {
                console.log(data);
                if (data)
                    $("#" + id + " .borrow").html(`<span class="badge badge-primary text-wrap">Borrowed</span>`);
            }
    });
    return false;
    }

    function applyBorrow() {
        var media = $(".media-item");
        for (let i = 0; i < media.length; i++) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetBorrowed", "Home")",
                datatype: "html",
                data: { "bID": null, "uID": null, "mediaID": media[i].id },
                success: function (data) {
                    console.log(media[i].id,data);
                    if (data.Response.length <= 0) {
                        $("#" + media[i].id + " .borrow").append(`<input type="button" class="w-100 mb-1 btn btn-secondary btn-sm" value="Borrow" onclick="return borrowMedia(${media[i].id});" />`);
                    } else {
                        $("#" + media[i].id + " .borrow").append(`<input type="button" class="w-100 mb-1 btn btn-secondary btn-sm " value="No Stock" disabled />`);
                    }
            }
        });
        }
    }
    function addMedia(e) {
            e.preventDefault();
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddMedia", "Home")",
            data: $("#addMedia").serialize(),
            success: function (data) {
                console.log(data);
                $("#insertNew").before(`
                    <tr id="${data.MediaID}">
                        <td scope="row">${data.MediaID}</td>
                        <td>${data.Title}</td>
                        <td>${data.Director.DirectorName}</td>
                        <td>${data.Genre.GenreTitle}</td>
                        <td>${data.Language.LanguageName}</td>
                        <td>${data.Budget} <span> ($${data.BudgetValue})</span></td>
                        <td>${data.Year}</td>

                        <td scope="row">
                            <input type="button" class="w-100 mb-1 btn btn-danger btn-sm" value="Delete" onclick="return deleteMedia(${data.MediaID});" />
                        </td>
                    </tr>
                `);
                }
        });
        return false;
    }
    applyBorrow();
</script>
